.input-with-description
	display inline-block
	margin-right 10px
	margin-bottom 15px
	
	div
		font-family Futura
		font-size 12px
		color #666
		font-weight 500
		
	input[type='text']
		width 200px
		height 30px
		color #666
		font-family Futura
		font-size 14px
		line-height 22px
		padding 0 5px
		border none
		border 1px solid #dfdfdf
		border-radius 3px
		
		
	select
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		min-width 50px
		height 30px
		color #999
		font-family Futura
		font-size 14px
		line-height 22px
		padding-right 30px
		padding-left 15px
		border none
		border 1px solid #999
		border-radius 3px
		background-color #ededed
		margin-right 5px
		overflow: hidden;
		background: url(../images/select-down.png) no-repeat right #EDEDED;
		cursor pointer